<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<html lang="en">
<head>
   <link rel="icon" href="https://lh3.googleusercontent.com/a-/AOh14GhOePmZG8g0wja3nBL_o7igPEyY8svB8UQuXjC4Gg=s120-cc-rg" type="image/icon type">
    <title>Sign Up</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-image: url('https://wallpapercave.com/wp/wp2672841.jpg');
            /* background-image: url('../public/greenbg2.jpg'); */
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 300;
        }
        #box{
            width: 300px;
        }
        input
        {
            margin-top: 40px;
        }
        #box{
        position: relative;
        margin: 5% auto;
        height: 400px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
            transition: ease 0.4s;
        }
        #leftbox{
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            padding: 40px;
            width: 300px;
            height: 400px;
        }
        h1{
            margin: 0 0 20px 0;
            font-weight: 300;
            font-size: 28px;
        }
        input[type="text"],input[type="password"],input[type="email"]{
        display: block;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 220px;
        height: 32px;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 15px;
        transition: 0.2s ease;
        }
        input[type="submit"]
        {
            margin-bottom: 28px;
            width: 120px;
            height: 32px;
            background: #f44336;
            border: none;
            border-radius: 2px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.2s ease;
            cursor: pointer;
        }
        input[type="submit"]:hover,input[type="submit"]:focus{
            background: #ff5722;
            transition: 0.2s ease;
        }
        
        form #txt4{
            position: absolute;
            top: 60%;
            color: red;
            font-size: 9px;
        }
        #leftbox a{
            position: absolute;
            top: 90%;
            /* text-decoration:; */
            font-size: 12px;
            color: #ff5722;
        }
        @media only screen and (max-width: 600px) {
            #box{
                width: 80vw;
            }
            #leftbox{
                width: 100%;
            }
            input[type="text"],input[type="password"],input[type="email"]{
                width: 90%;
            }
        }
    </style>

    <script>
        function validate()
        {
            var password=document.getElementById("pass");
            var rpassword=document.getElementById("rpass");

            if(password.value.trim()=="")
            {
                password.style.borderColor="red";
                alert("Blank password!");
                return false;
            }
            else if(rpassword.value.trim()=="")
            {
                rpassword.style.borderColor="red";
                alert("Confirm Password!");
                return false;
            }
            else if(rpass.value!=pass.value)
            {
                alert("Password did not Matched!")
            }
        }
        function passwordvalidate()
        {
            var pass=document.getElementById("pass");
            var rpass=document.getElementById("rpass");
            if(pass.value.length>=8 && pass.value.length<=16)
            {
                pass.style.borderColor="#00FF00";
            }
            else
            {
                pass.style.borderColor="red"
            }

            if(rpass.value==pass.value&&pass.value.trim()!="")
            {
                rpass.style.borderColor="#00FF00";
                document.getElementById("txt4").style.color="green";
                document.getElementById("txt4").innerHTML="Password matched."
            }
            else
            {
                rpass.style.borderColor="red";
                document.getElementById("txt4").innerHTML="Password did not match.";
            }
        }
        
        function offline()
        {
            alert("Oops! Make sure have an internet connection...")
            
        }
    </script>
</head>
<body onoffline="offline()">
    <div id="box">
        <div id="leftbox">
            <h1>Forgot Password</h1>
            <form onsubmit="return validate()" action="/users/updatePassword/<%= user.id %>" method="POST">
                <input type="password" name="password" placeholder="Password (8-12 characters)" id="pass" onkeyup="passwordvalidate()" name="password">
                <input type="password" placeholder="Confirm Password" id="rpass" onkeyup="passwordvalidate();" name="rpassword"><br><span id="txt4"></span>                <input type="submit">
            </form>
            <a href="/">Create an Account?</a>
        </div>
    </div>
</body>
</html>