<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<html lang="en">
<head>
   <link rel="stylesheet" href="index.css">
   <link rel="icon" href="https://lh3.googleusercontent.com/a-/AOh14GhOePmZG8g0wja3nBL_o7igPEyY8svB8UQuXjC4Gg=s120-cc-rg" type="image/icon type">
    <title>Sign Up</title>
    <!-- https://cdn.wallpapersafari.com/92/64/hBkoyj.jpg -->
    <style>
        input
        {
            margin-top: 40px;
        }
        #forgotPass{
            right: 10%;
        }
    </style>
    <script>
       
    
        function validate()
        {
            var email=document.getElementById("email");
            var password=document.getElementById("pass");
            if(email.value.trim()=="")
            {
                email.style.borderColor="red";
                alert("Blank Email!");
                return false;
            }
            else if(password.value.trim()=="")
            {
                password.style.borderColor="red";
                alert("Blank password!");
                return false;
            }
        }
        
        function offline()
        {
            alert("Oops! Make sure have an internet connection...")
            
        }
    </script>
</head>
<body onoffline="offline()">
    <div id="box">
        <div id="leftbox">
            <h1>Log In</h1>
            <form onsubmit="return validate()" action="/users/login" method="POST">
                <input type="email" name="email" placeholder="Email" id="email" spellcheck="false">
                <input type="password" name="password" placeholder="Password (8-12 characters)" id="pass" onkeyup="passwordvalidate()">
                <input type="submit">
            </form>
            <a href="/forgotPass" id="forgotPass">Forgot Password?</a>
            <a href="/">Create an Account?</a>
        </div>
        <div id="rightbox">
            <span class="signinwith">Sign In With
            <br>Social Network</span>

            <button class="facebook">Sign in with Facebook</button>
            <button class="twitter">Sign in with Twitter</button>
            <button class="google">Sign in with Google+</button>
        </div>
        <div class="or">OR</div>
    </div>
</body>
</html>