<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<html lang="en">
<head>
   <link rel="stylesheet" href="index.css">
   <link rel="icon" href="https://lh3.googleusercontent.com/a-/AOh14GhOePmZG8g0wja3nBL_o7igPEyY8svB8UQuXjC4Gg=s120-cc-rg" type="image/icon type">
    <title>Sign Up</title>
    <!-- https://cdn.wallpapersafari.com/92/64/hBkoyj.jpg -->
    <style>
        #box{
            width: 300px;
        }
        input
        {
            margin-top: 40px;
        }
        body{
    margin: 0;
    padding: 0;
    /* background-image: url('https://ak2.picdn.net/shutterstock/videos/17312992/thumb/1.jpg'); */
    background-image: url('greenbg2.jpg');
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
}

#box{
   position: relative;
   margin: 5% auto;
   width: 600px;
   height: 400px;
   background-color: #fff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
    transition: ease 0.4s;
}
#leftbox{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}
h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}
input[type="text"],input[type="password"],input[type="email"]{
   display: block;
   box-sizing: border-box;
   margin-bottom: 20px;
   padding: 4px;
   width: 220px;
   height: 32px;
   border: none;
   outline: none;
   border-bottom: 1px solid #aaa;
   font-family: sans-serif;
   font-weight: 400;
   font-size: 15px;
   transition: 0.2s ease;
}
input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}
input[type="submit"]:hover,input[type="submit"]:focus{
    background: #ff5722;
    transition: 0.2s ease;
}
#rightbox{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url('greenbg.jpg');
    background-size: cover;
    background-position: center;
    color: seashell;
}
.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}
#rightbox .signinwith{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#rightbox button{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}
.facebook{
    background: #32508e;
}
.twitter{
    background: #55acee;
}
.google{
    background: #dd4b39;
}
form #txt4{
    position: absolute;
    top: 72%;
    color: red;
    font-size: 9px;
}
#leftbox a{
    position: absolute;
    top: 90%;
    /* text-decoration:; */
    font-size: 12px;
    color: #ff5722;
}

@media only screen and (max-width: 600px) {
    #box{
        width: 80vw;
    }
    #leftbox{
        width: 100%;
    }
    #rightbox{
        width: 100%;
        top: 100%;
    }
    input[type="text"],input[type="password"],input[type="email"]{
        width: 90%;
    }
    .or{
        top: 95%;
        left: 43%;
    }
    #rightbox button{
        margin-left: 5%;
        width: 90%;
        height: 15%;
        
    }



    

  }
    </style>
    <script>
       
    
        function validate()
        {
            var otp=document.getElementById("otp");
            if(otp.value.trim()=="")
            {
                otp.style.borderColor="red";
                alert("Enter OTP!");
                return false;
            }
        }
        
        function offline()
        {
            alert("Oops! Make sure have an internet connection...")
            
        }
    </script>
</head>
<body onoffline="offline()">
    <div id="box">
        <div id="leftbox">
            <h1>Forgot Password</h1>
            <h1><%= user.name %></h1>
            <form onsubmit="return validate()" action="/users/update/<%= user._id %>" method="POST">
                <input type="text" name="otp" placeholder="Enter OTP sent to your Email" id="otp" spellcheck="false" autofocus> 
                <input type="submit">
            </form>
            <a href="/">Create an Account?</a>
        </div>
    </div>
</body>
</html>