<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template-LoginSystem</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-image: url('https://wallpapercave.com/wp/wp2672841.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 300;
        }
        #box{
            width: 300px;
            position: relative;
            margin: 5% auto;
            height: 400px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
            transition: ease 0.4s;
            text-align: center;
        }
        #box h1{
            padding-top: 40px;
        }
        #box h1 span{
            border-bottom:solid 1px #f44336;
            padding: 4px;
            text-transform: capitalize;
        }
        #box button{
            margin-top: 10px;
            width: 120px;
            height: 32px;
            background: #f44336;
            border: none;
            border-radius: 2px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.2s ease;
            cursor: pointer;

        }
    </style>
</head>
<body>
    <div id="box">
        <h1>Hello, <span><%= user.name %></span>!<hr> How are you doing?</h1>
            <button onclick="logout()">LOGOUT</button><br>
            <button onclick="logoutAll()">LOGOUT From ALL Devices</button><br>
            <button onclick="deleteUser()">Delete User Account</button><br>
    </div>

    <script>

        var userToken = document.cookie.replace('jwt=','')
        // console.log(document.cookie)
        // console.log(userToken)

        function logout()
        {
            fetch('/users/logout', {
                method: 'POST',
                headers: {
                'Authorization': 'Bearer ' + userToken
                },
                redirect: 'follow'
            })
            // .then(res => res.json())
            .then(response=>{
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
            })
            .catch(err => { console.log(err) })
        }


        function logoutAll()
        {
            fetch('/users/logoutAll', {
                method: 'POST',
                headers: {
                'Authorization': 'Bearer ' + userToken
                },
                redirect: 'follow'
            })
            // .then(res => res.json())
            .then(response=>{
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
            })
            .catch(err => { console.log(err) })
        }


        function deleteUser()
        {
            fetch('/users/delete', {
                method: 'DELETE',
                headers: {
                'Authorization': 'Bearer ' + userToken
                },
                redirect: 'follow'
            })
            // .then(res => res.json())
            .then(response=>{
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
            })
            .catch(err => { console.log(err) })
        }
        
    </script>
</body>
</html>